.recipe-main {
  &__wrapper {
    margin: 0 16px;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 20px;
  }

  &__header {
    text-transform: uppercase;
    text-align: center;
    font-weight: lighter;
    font-size: 2em;
    padding: 10px;
  }
}
